body 
	background-color black
	color white
	font-family PitchRegular
	font-size 15px
	overflow-x hidden
	
a, a:visited
	color white
	text-decoration none
	transition opacity 100ms ease-out
	-webkit-transition opacity 100ms ease-out

h1, h2, h3, h4 
	font-weight normal
	
h1
	font-family CalibreThin
	text-transform uppercase
	text-align center
	line-height 200%
	letter-spacing 3px
	font-size 5vw
	@media laptop
		font-size 2vw
	a
		padding-bottom 2px
		border-bottom 1px solid white
		&:hover
			opacity .5
	
p 
	font-size .9rem
	line-height 150%
	
hr
	width 100%
	border none
	height 1px
	background white
	opacity .2
	display block

section 
	padding 5vw 10vw
	background-size cover
	background-repeat no-repeat
	position relative
	width 80vw
	
.column
	padding 2rem 2vw

.column .row .column 
	padding-top 0px
	padding-bottom 0px
	
#skrollr-body
	z-index 9999 !important
	position absolute

// HEADER


// header 
// 	width 100vw
// 	height auto
// 	position absolute
// 	z-index 9999
// 	top 0px
// 	@media laptop	
// 		padding 3vw
// 		width 94vw

nav
	position absolute
	text-align center
	z-index 9999
	opacity 0
	width 100%
	padding-top 10vw
	padding-bottom 5vw
	@media laptop	
		position absolute
		padding-top 3vw
		//right 3vw
	ul
		list-style none
		display inline-block
		padding 0
		margin 0
		li
			list-style none
			padding 0
			font-size .9rem
			float left
			a
				display block
				text-align center
				margin 0 1em 0 1em
			@media laptop	
				float right
				display block
				margin 0 1em 0 1em
				





// INTRO						


section.intro 
	height 80vh
	width 100vw
	padding 0
	@media tablet
		height 90vh
		
.bigLogo
	position absolute
	width 60vw
	height 30vw
	left 20%
	top 40vh
	transform-origin 50% 50%
	filter: blur(20px);
	-webkit-filter: blur(40px);
	animation-name: blurIn;
	animation-duration: 6s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	// transform translateY(-50%) translateX(-50%) scale(1)
	// background-image url(_img/logo_stacked.svg)
	// background-position center center
	// background-size 100%
	// background-repeat no-repeat
	@media bigphone
		width 40vw
		height 20vw
		left 30%
	@media tablet
		width 50vw
		height 25vw
		top 40vh
		left 25vw
	@media laptop
		top 35vh
		width 50vw
		height 25vw
		left 25vw
		//position fixed
	svg
		width 100%
		g
			opacity 0
			transform-origin center center
	
@keyframes blurIn {
    from {filter: blur(20px);-webkit-filter: blur(40px);}
    to {filter: blur(0px);-webkit-filter: blur(0px);}
}
	


// HERO

.label
	text-align center
	span
		text-transform uppercase
		margin 0 auto
		font-size 1rem
		letter-spacing 3px
	.line
		width 3em
		height 5px
		background-color white
		margin 4em auto	5em auto	

section.hero 
	// background-image url(_img/top_01.jpg) 
	background-position top center
	// background-color red
	z-index 0 !important
	height 100vh
	width 100vw
	position fixed
	top 0px
	transform-origin center center
	opacity 0
	transition background 1000ms ease
	// &.switch
	// 	background-image url(_img/top_03.jpg)
	
section.overview
	z-index 999
	// margin-top 50vw
	// @media tablet
	// 	margin-top 25vw

section.photosIntro
	padding 10vw 10vw
	
.StylistsMobile
	display block
	@media tablet
		display none
		
.StylistsDesktop
	display none
	@media tablet
		display block

.StylistItem
	padding-bottom 0px
	position relative
	display block
	@media tablet
		margin-bottom 5vw
	@media laptop
		margin-bottom 5vw
		padding-bottom 4rem
	a
		@media tablet
			position absolute 
			bottom 0px
	&:last-child
		hr
			display none
			
.StylistImage
	width 70%
	margin-bottom 1rem
	border-radius 100%
	&.Mobile
		width 86%
		margin-bottom 0px
	@media laptop
		margin-bottom 2rem
	
// .StylistPhoto
// 	border-radius 1000px
// 	width 70%
// 	height 0px
// 	padding-bottom 70%
// 	background-color #212121
// 	background-size cover
// 	background-position center center
// 	margin-bottom 1em
// 	transition background-size 200ms ease
// 	&.Mobile
// 		width 86%
// 		padding-bottom 86%
// 		margin-bottom 0px
// 	&.owner
// 		width 100%
// 		padding-bottom 100%
// 	@media laptop
// 		margin-bottom 2em
			
.StylistTitle
	font-family CalibreLight
	text-transform uppercase
	font-size 1.3em
	letter-spacing 3px
	line-height 120%
	margin-bottom 1rem
	margin-top 0rem
	media laptop
		margin-bottom 1em

.StylistDesc
	margin-top -.5rem
	height 4rem
	overflow hidden
	transition all 200ms ease-out
	cursor pointer
	@media tablet
		height auto
		margin-bottom 4rem
	@media laptop
		margin-bottom 0px
	&.open
		height auto
		transition all 200ms ease-out
	
.ButtonBookNow
	background white
	color black
	
.ButtonReadMore
	float right
	opacity .5
		
.BookAndMore
	display block
	margin-top 2rem
	padding-bottom 1rem
	
.ReadMoreLink
	border-bottom 1px solid white
	margin-top -1rem
	display block
	width 5.2rem
	margin-bottom 2rem
	opacity .5
	cursor pointer

.ButtonPrimary
	color black
	background white
	border 1px solid white
	padding .4em .8em 0.6em .8em
	margin-top .5em
	display inline
	transition all 200ms ease
	@media tablet
		&:hover
			background transparent
			color white
		
.ButtonSecondary
	border 1px solid rgba(255,255,255,1)
	color rgba(255,255,255,1)
	padding .4em .8em 0.6em .8em
	margin-top .5em
	display inline
	background transparent
	transition all 200ms ease
	width 100%
	@media tablet
		width auto
		&:hover
			border-color rgba(255,255,255,1)
			color black
			background-color white
		
.ButtonTertiary
	border 1px solid rgba(255,255,255,1)
	color rgba(255,255,255,1)
	padding .4em .8em 0.6em .8em
	margin-top .5em
	display inline
	background transparent
	transition all 200ms ease
	opacity .5
	&:hover
		border-color rgba(255,255,255,1)
		color black
		background-color white
		
				

.OwnerBlock
	margin-bottom 10vw

section.playground
	background-color pink 
	background-image url(_img/slide_04.jpg)
	background-position bottom center
	height 80vh

section.contact
	text-align center
	letter-spacing 2px
	.primary
		font-family CalibreLight
		text-transform uppercase
		font-size 1rem
	.secondary
		font-family CalibreThin
		text-transform uppercase
		font-size 1.2rem
		opacity .6
		@media laptop
			font-size 2rem
		a:hover
			opacity .5
		
footer 
	padding 10vw
	.logomark
		background-size 100%
		width 100px
		height 100px
		border-radius 1000px
		margin 0 auto
		opacity .9
		cursor pointer
		transition transform 200ms ease-out
		margin-bottom 10vw
		//display none
		@media laptop
			margin-bottom 18vw
			// display block
		svg
			g.arrow
				opacity 0
				transition all 200ms ease-out
				transform scale(.8)
				transform translateY(20%)
				transform-origin center center
			g.ampersand
				transform scale(1)
				transition all 200ms ease-out
				transform-origin center center
		&:hover
			opacity 1
			transform scale(1.05)
			svg
				g.arrow
					opacity 1
					transform scale(1) 
					transform translateY(0%)
				g.ampersand
					opacity 0
					transform scale(.8)

// PHOTO SWIPER

.swiper-container
	width 100%
	color #fff
	text-align center
	overflow visible
	overflow-x hidden
	padding 10vw 0
	height 35vw

.swiper-slide
	height 100%
	width 30vw
	img
		max-width 100%
		transition all 200ms ease
		&:hover
			-webkit-transform scale(1.05)
			-moz-transform scale(1.05)
			-ms-transform scale(1.05)
			-o-transform scale(1.05)
			transform scale(1.05)
	.title
		font-style italic
		font-size 42px
		margin-top 80px
		margin-bottom 0
		line-height 45px

.swiper-slide-visible
	opacity 1

.swiper-slide-active
	top 0
	opacity 1

.pagination
	position absolute
	z-index 20
	left 0px
	width 100%
	text-align center
	bottom 5px
	display none

.swiper-pagination-switch
	display inline-block
	width 10px
	height 10px
	border-radius 8px
	background #aaa
	margin-right 8px
	cursor pointer
	-webkit-transition 300ms
	-moz-transition 300ms
	-ms-transition 300ms
	-o-transition 300ms
	transition 300ms
	opacity 0
	position relative
	top -50px

.swiper-visible-switch
	opacity 1
	top 0
	background #aaa

.swiper-active-switch
	background #fff

header .logo
	// transform rotate(-90deg)
	// -webkit-transform rotate(-90deg)
	width 50vw
	margin 10vw auto
	position relative
	@media tablet
		width 30vw
	@media laptop
		transform rotate(0deg)
		-webkit-transform rotate(0deg)
		width 20vw
		margin 0vw auto
		position relative
		
  
.myslideshow
	width 100vw
	height 100vh
	display block
	position absolute
	background-size cover
	background-repeat no-repeat
	background-position center center
	opacity .6
	@media laptop
		position fixed
	.item
		width 100vw
		height 100vh
		display block
		background-color black
		position absolute
		display none
		background-size cover
		background-position top center
		

#InstagramPhotos
	width 100%
	background black
	display block
	overflow auto
	position relative
	padding 0px
	margin 0px
	
.InstagramCTA
	position absolute
	top 50%
	transform translateY(-50%)
	text-align center
	width 70vw
	margin 0 15vw
	z-index 99999999

.InstagramThumb
	width 25vw
	height 0px
	padding-bottom 25vw
	background-color black
	background-position 0px 0px
	background-size cover
	//background-blend-mode luminosity
	position relative
	cursor pointer
	float left
	opacity .3
	@media tablet
		width 16.6666vw
		padding-bottom 16.6666vw

// .InstagramThumb:hover 
// 	background-blend-mode normal
  
// .InstagramThumb:hover:after
// 	display none

// .InstagramThumb:after
// 	content ""
// 	position absolute
// 	left 0px
// 	top 0px
// 	right 0px
// 	bottom 0px
// 	//mix-blend-mode screen
// 	pointer-events none
// 	background-color black

