// CSS STUFF & FONTS

@import "../../bower_components/normalize.css/normalize.css"
@import "../../bower_components/flexboxgrid/css/flexboxgrid.css"
@import "_includes/fonts.css"

// STYLUS FILES

@import "vars.styl"
@import "base.styl"
@import "../../bower_components/swiper/dist/idangerous.swiper.css"


// FIXES

#__bs_notify__ {
	display: none;
	opacity: 0;
}
