
<!-- this is the HTML template -->
<script id="template" type="text/x-handlebars-template">
<div class="row">
  {{#stylists}}
  	<div class="column col-xs-12 col-sm-6 col-md-4 StylistItem">
        <img class="StylistImage" src="{{picture}}">
  			<p class="StylistTitle">{{fullName}}</p>
  			<p class="StylistDesc">{{bio}}</p>
  			<a href="{{bookingUrl}}" target="_blank"><button class="ButtonSecondary">Book Now</button></a>
  	</div>
  {{/stylists}}
</div>

</script>
  
<script type="text/javascript">

$.getJSON(
  "stylists.json",
  function(data) {
    // Success! Do stuff with data.
    console.log(data);
    var template = $('#template').html();
    var html = Mustache.to_html(template,data);
    $('#stylists').html(html);
  }
);
</script>

<!-- Insertion point for handlebars template -->

<section class="StylistsDesktop" id="stylists">
	<div class="label">
		<span>Stylists</span>
		<div class="line"></div>
	</div>
	<div class="row" id="output"></div>
</section>


