
<!-- this is the HTML template -->
<script type="text/html" id="template">
    <div class="row">
        {{#stylists}}
        <div class="column col-xs-12 StylistItem">
          <div class="row">
            <div class="column col-xs-5">
              <img class="StylistImage Mobile" src="{{picture}}">
            </div>
            <div class="column col-xs-7">
              <p class="StylistTitle">{{fullName}}</p>
              <a href="{{bookingUrl}}" target="_blank"><button class="ButtonSecondary">Book Now</button></a>
            </div>
            <div class="column BookAndMore col-xs-12">
              <p class="StylistDesc">{{bio}}</p>
              <a class="ReadMoreLink">Read More</a>
              <hr>
            </div>
          </div>
        </div>
      {{/stylists}}
    </div>
</script>
  
<script type="text/javascript">

$.getJSON(
  "stylists.json",
  function(data) {
    // Success! Do stuff with data.
    console.log(data);
    var template = $('#template').html();
    var html = Mustache.to_html(template,data);
    $('#stylists').html(html);
  }
);
</script>

<!-- Insertion point for handlebars template -->

<section class="stylists StylistsMobile" id="stylists">
  <div class="label">
    <span>Stylists</span>
    <div class="line"></div>
  </div>
  <div class="row" id="output"></div>
</section>

